header.head.logo
  h1 = t ('views.title.title')
nav.main_nav
  ul
    li
      a(href="") = t ('views.nav.press')
    li
      a(href="") = t ('views.nav.seasons')
    li
      a(href="") = t ('views.nav.global')
    li
      a(href="") = t ('views.nav.memcards')
    li
      = link_to "#{t ('views.nav.audiomessages')}", new_order_audios_path
    li
      = link_to "#{t ('views.nav.blog')}", post_path
    li
      a(href="") = t ('views.nav.links')

footer.navbar.navbar-default.navbar-fixed-bottom
  .container.footer
    .row
      .col-xs-6
        = link_to "|RU", root_path(locale: :ru)
        = link_to "|EN|", root_path(locale: :en)