nav.navbar.navbar-fixed-top(role="navigation")
  .container-fluid.nav_ui
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          = link_to "#{t ('views.nav.mainpage')}", root_path
        li
          = link_to "#{t ('views.nav.press')}", post_path
        li
          a(href="") = t ('views.nav.seasons')
        li
          a(href="") = t ('views.nav.global')
        li
          a(href="") = t ('views.nav.memcards')
        li
          = link_to "#{t ('views.nav.audiomessages')}", new_order_audios_path
        li
          = link_to "#{t ('views.nav.blog')}", post_path
        li
          a(href="") = t ('views.nav.links')
