= render 'partials/nav'

.container.wrapper
  .row
    .col-xs-12.col-md-8
      .form_block
        = simple_form_for @order do |f|
          = f.input :subject
          = f.input :email, input_html: { class: 'input-xxlarge redactor' }
          = f.input :text
          = f.button :submit
