//Nav tabs
div(role="tabpanel")
  ul.nav.nav-tabs(role="tablist")
    li.active(role="presentation")
      a(href="#new" aria-controls="new" role="tab" data-toggle="tab") Новые
    li(role="presentation")
      a(href="#success" aria-controls="success" role="tab" data-toggle="tab")  Выполненные

  .tab-content
    .tab-pane.fade.in.active#new
      - if @orders.any?
        table.table.table-striped
          thead
            tr
              th Тема
              th Email
              th(colspan="2")
          tbody
            - @orders.each do |order|
              tr
                td = link_to order.subject, admin_order_audio_path(order)
                td
                  a(href="mailto:#{order.email}") = order.email
                td = set_success_btn order
      - else
        h3 Нет невыполненных заявок.
    .tab-pane.fade#success
      - if @success.any?
        table.table.table-striped
          thead
            tr
              th Тема
              th Email
              th(colspan="2")
          tbody
            - @success.each do |order|
              tr
                td = link_to order.subject, admin_order_audio_path(order)
                td
                  a(href="mailto:#{order.email}") = order.email
                td = set_success_btn order
                td = destroy_btn order
      - else
        h3 Нет выполненных заявок.
