// Place all the styles related to the Admin::Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_admin {
  background-color: rgba(255, 255, 255, 0.1);
  color: wheat;
  border-radius: 15px;
}

.row aside {
  left: -15px;
}

.col-xs-8 .pull-right a {
    margin-top: 20px;
}