// Place all the styles related to the admin/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  width: 50vw !important;
}

form {
  float: right;
  width: 55vw;
}

.nav-header {
  background-color: whitesmoke;
  font-size: 2em;
}