= simple_form_for @post, url: [:admin, @post] do |f|
  = f.input :title
  = f.input :description,  :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Pure'} }
  // f.input :text, input_html: { class: 'input-xxlarge redactor' }
  = f.input :text, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} }
  = f.button :submit
