= link_to 'Создать запись', new_admin_post_path, class: "btn btn-primary"

- if @posts.any?
  table.table.table-striped
    thead
      tr
        th Заголовок
        th Краткое описание
        th(colspan="2")
    tbody
      - @posts.each do |post|
        tr
          td = post.title
          td == strip_tags post.description
          td = link_to 'Редактировать', edit_admin_post_path(post)
          td = link_to 'Удалить', admin_post_path(post), method: :delete, data: { confirm: 'Вы уверены?' }