= render 'partials/nav'

.container.wrapper
  .row
    .col-xs-12.col-md-8
      h1
        = t ('views.posts.title')
    .col-xs-12.col-md-8
      - if @posts.present?
        - @posts.each do |post|
          .post
            h2 = link_to post.title, controller: "posts", action: "show", id: post
            p == post.description
            abbr.timeago(title="#{post.created_at.getutc.iso8601}") = post.created_at.to_s
      - else
        .post
          h2 = t ('views.posts.empty')
