= render 'partials/nav'

.container.wrapper
  .row
    .col-xs-12.col-md-8
      h1
        = @post.title
    .col-xs-12.col-md-8.background_post
      .post.current
        == @post.text

      = link_to "#{t ('views.nav.back')}", post_path, class: "btn btn-link"