/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts";

body {
  background-color: #000;
  font-family: 'Raleway', sans-serif !important;
}

.wrapper {
  position: relative;
  top: 7em;
}

.nav_ui {
  background-color: rgba(0,0,0, 0.3);
}
ul.nav {
  float: none;
  margin: 0 auto;
  width: 70%;
  li {
    :hover {
      color: black;
      background-color: white;
    }
  }
  a {
    color: white;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
  }
}

.row h1 {
  color: white;
}
