// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
  background: rgba(255, 255, 255, 0.15);
  padding: 1em 2em 2em;
  .background_post {
    //background: white !important;
  }
}

.row .post {
  top: 0;
  padding: 1em 2em 2em;
  &:hover {
    background: rgba(16, 16, 16, 0.9);
  }
  &.current {
    margin-bottom: 1em;
    &:hover {
      background: none;
    }
  }
  a {
    color: #89C7FF;
  }
}

.col-xs-12 {
    color: beige;
}