// Place all the styles related to the title controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  background: image-url('background.png') center no-repeat;
  background-size: cover;
  width: 100vw;
  min-width: 980px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1000;
}

.head {
  margin-top: 25vh;
  width: 100%;
  h1 {
    color: white;
    font-size: 8vw;
    font-weight: 300;
    cursor: default;
    text-align: center;
    text-transform: uppercase;
  }
}

.main_nav{
  text-align: center;
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin: 10px 10px;
      transition: background 0.5s ease 0.2s;
      :hover {
        background-color: white;
        color: black;
        transition: all 0.5s ease 00s;
      }
      a {
        color: white;
        font-size: 1.2vw;
        padding: 5px 15px;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.5s ease 0s;
      }
    }
  }
}

footer {
  background-color: rgba(0,0,0, 0.5) !important;
  border-color: rgba(134,134,134, 0.5) !important;
  .col-xs-6 {
    padding-top: 1em;
  }
  .row {
    background: none;
    padding: 0;
  }
}