<!DOCTYPE html>
<html>
  <head>
    <title><%= title_page %></title>
    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <nav class="nav navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <%= link_to 'Admin panel', admin_root_path, class: "navbar-brand" %>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><%= link_to 'Go to Main page', root_path %></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <aside class="col-xs-4">
          <ul class="nav nav-vertical">
            <li class="nav-header"> Разделы</li>
            <li><%= link_to "#{t ('views.nav.blog')}", admin_posts_path %></li>
            <li><%= link_to "#{t ('views.nav.audiomessages')}", admin_order_audio_index_path %></li>
          </ul>
        </aside>
        <div class="col-xs-8">
        <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>